.box {
    background-color: azure;
    border: .2rem solid black;
    margin-top: 1rem;
    padding: .1rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.button{
    background: #770a0a;
    padding-inline: 1rem;
    margin-bottom: .8rem;
    margin: .7rem;
    color: aliceblue;
    font-weight: bold;
    font-size: 100%;
}
.visitedCountry{
    background:powderblue;
}