.heading{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 4rem;
}
.content{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 1rem;

}
.flag-container img{
    width: 5rem;
    margin-inline: .2rem;
    border: .15rem solid purple;
    
}